<div class="typeahead-container" (focusout)="hideResultsList()">
  <div class="typeadhead-wrapper">
    <input
      type="text"
      class="typeAhead"
      placeholder="Type to search..."
      [formControl]="inputTextControl"
      (focus)="showResultsList()"
    />
    <div class="resultList" *ngIf="doShowResults">
      <ul>
        <li class="resultItem" (click)="planetSelectHandler('Select')">
          None
        </li>
        <li
          class="resultItem"
          (click)="planetSelectHandler(planet.name)"
          *ngFor="let planet of filteredSourceArray"
        >
          {{ planet.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
