div.welcomePage {
  margin-top: 10vh;
  font-size: 12px;
  h2 {
    text-align: center;
    margin-top: 10px;
  }
  overflow-y: auto;
  div {
    margin-top: 5px;
  }
  div.instructions {
    text-align: left;
    margin-left: 10px;
    div.goodLuckText {
      text-align: center;
    }
  }
  div#divStartBtn {
    width: 80px;
    height: 40px;
    margin-bottom: 15px;
    margin-left: 45vw;
    input.btnStart {
      margin: 5px 15px;
    }
  }

  @media (min-width: 768px) {
    font-size: 14px;
  }

  //   div#divImage {
  //     margin: 0 auto;
  //     img.instructionImg {
  //       max-width: 100%;
  //       height: auto;
  //       background-color: white;
  //     }
  //   }
}
