     <div class="container-fluid"> *ngIf="planetList && vehicleList"
        <div class="row">
            <div class="col" *ngFor="let index of widgetCountIterator">
                <app-destination-widget 
                    [planetList]="planetList"
                    [vehicleList]="vehicleList"
                    [planetListChanged] = "planetListChanged"
                    [vehicleListChanged] = "vehicleListChanged"
                    (onPlanetSelected)="planetSelected($event)"
                    (onVehicleSelected)="vehicleSelected($event)">                    
                </app-destination-widget>
            </div>
        </div>
