

<div *ngFor="let vehicle of localVehicleList; let i=index">        
        <label for="vehicle_{{widgetId}}_{{i}}" >
                <input type="radio" 
                       name="radio_{{widgetId}}"
                       [value]="vehicle.name"   
                       [ngModel]="lastSelectedVehicle.name"                                           
                       [disabled]="vehicle && vehicle.maxDistance < destinationDistance || vehicle.availNumUnits == 0"
                       id="vehicle_{{widgetId}}_{{i}}" 
                       (change)="vehicleSelected(vehicle)"/>                
                {{vehicle.name +" ("+ vehicle.availNumUnits+")"}}
        </label>
        
        <br>
</div>
