<div>
        <select      
            name="selectPlanet"
            this.lastSelectedPlanet = planet;
            [(ngModel)] = "lastSelectedPlanet.name"                                                
            (change)="planetSelected($event.target.value)" >                
                <option value="Select">Select</option>
                <option *ngFor="let planet of initialPlanetList"  [value]="planet.name">
                    {{planet.name}}
                </option>
        </select> 
        <br>
        <app-vehicle-list *ngIf="lastSelectedPlanet.name!='Select'"
            [vehicleList]="vehicleList"
            (onVehicleSelected)="onVehicleSelected"
            [destinationDistance]="destinationDistance"
            [planetListChanges$] = "planetListChanges$"
            [vehicleListChanges$] = "vehicleListChanges$"
            (onVehicleSelected)="vehicleSelected($event)"
            [widgetId]="widgetId">
        </app-vehicle-list>
        
</div>
