<div>      
    <app-typeahead [sourceArray]="initialPlanetList"
                   [resetTypeAhead$]="resetTypeAhead$"
                (itemSelected)="planetSelected($event.name)">        
    </app-typeahead>
    <br>
    <app-vehicle-list *ngIf="lastSelectedPlanet!='Select'"
        [vehicleList]="vehicleList"
        (onVehicleSelected)="onVehicleSelected"
        [destinationDistance]="destinationDistance"
        [planetListChanged] = "planetListChanged"
        [vehicleListChanged] = "vehicleListChanged"
        (onVehicleSelected)="vehicleSelected($event)"
        [widgetId]="widgetId">
    </app-vehicle-list>
    
</div>
