<div class='typeahead-container'  (focusout)='hideResultsList()'>
    <input type='text'
           placeholder='Search...'
           [formControl]='inputTextControl' 
           (focus)='showResultsList()'
          >
    <div class='resultList' *ngIf="doShowResults">
        <ul><li class='resultItem' style="list-style-type:none;"
              (click)="planetSelectHandler(planet.name)"
              *ngFor="let planet of filteredSourceArray">
              {{planet.name}}
        </li>
        </ul>
    </div>
</div>