div.boardContainer {
  /*default css for small devices like IPhone 5*/
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-areas:
    'timeTaken'
    'instructionLine'
    'widgetList'
    'findButton';
  grid-template-columns: 100%;
  grid-template-rows: 40px 40px 1fr 50px;

  div.instructionLine {
    grid-area: instructionLine;
  }

  div.timeTaken {
    grid-area: timeTaken;
    margin-top: 10px;
  }

  div.instructionLine {
    font-size: 0.5rem;
  }

  app-destination-widget-list {
    grid-area: widgetList;
    overflow-y: auto;
  }

  div.findButtonContainer {
    grid-area: findButton;
  }

  div.instructionLine,
  app-destination-widget-list,
  div.findButtonContainer {
    margin-bottom: 10px;
  }

  app-destination-widget-list {
    min-height: 320px;
  }

  @media (min-width: 375px) {
    /*css for small devices like IPhone 6/7*/
    grid-template-rows: 45px 45px 1fr 50px;
    div.instructionLine {
      font-size: 0.65rem;
    }
  }

  @media (min-width: 768px) {
    /*css for medium devices like IPad*/
    grid-template-rows: 50px 50px 1fr 50px;
    div.instructionLine {
      font-size: 0.9rem;
    }
  }

  @media (min-width: 1240px) {
    /*css for large devices like IPad Pro and larger*/
    div.instructionLine {
      font-size: 1rem;
    }
  }
}
