<div class="container"  style="height : 500px">        
       
    <div class="mx-auto" style="width : 400px">
        Select planets you want to search in :
    </div>
    <div class="mx-auto" style="width : 250px">
        Time Taken : {{timeTaken}}
    </div>

    <app-destination-widget-list            
        [countPlanetsToBeSearched] = "countPlanetsToBeSearched"            
    >
    </app-destination-widget-list>

    <div class="mx-auto" style="width : 250px">
        <input
        [disabled]="!isReadyToSearch" type="button" value="Find Falcone!"
        (click)="findFalcone()">
    </div>        

    <!-- <div class="d-flex justify-content-center">
    <div class="spinner-border m-5 fade show " style="width: 5rem; height: 5rem;" *ngIf="finderFacadeService.isLoading$ | async" role="status">
    <span class="sr-only">Loading...</span>      
    </div>
    </div> -->
    <div class="d-flex justify-content-center">
        <div class="fade show" style="width: 15rem; height: 15rem;" *ngIf="finderFacadeService.isLoading$ | async">
            <span>Loading...</span>
            <div class="spinner-border m-5" style="width: 5rem; height: 5rem;"  role="status">          
            </div>
        </div>
    </div>
</div>