<div class="card" *ngIf="vehicleList && planetList">
    <div class="card-header">
        Select planets you want to search in:
    </div>        
    
    <div class="card-body">        
        <div>
            Time Taken : {{timeTaken}}
        </div>

        <app-destination-widget-list
            [vehicleList]="vehicleList"
            [planetList]="planetList"
            [countPlanetsToBeSearched] = "countPlanetsToBeSearched"
            [planetListChanged] = "planetsUpdated"
            [vehicleListChanged] = "vehiclesUpdated"
            (onPlanetSelected)="planetSelected($event)"
            (onVehicleSelected)="vehicleSelected($event)">
        </app-destination-widget-list>

        <input [disabled]="!isReadyToSearch" type="button" value="Find Falcone!" (click)="findFalcone()">
    </div>
</div>
