<div class="falconApp">
  <app-falcon-header
    (headerLinkClicked)="headerLinkClicked($event)"
  ></app-falcon-header>
  <a class="skip-link" href="#appFalconBody">Skip to main</a>
  <div class="appFalconBody" id="appFalconBody">
    <app-spinner *ngIf="finderFacadeService.isLoading$ | async as loading">
    </app-spinner>
    <div class="errorMsg" *ngIf="finderFacadeService.error$ | async as error">
      <span>{{ error }}</span>
    </div>
    <router-outlet></router-outlet>
  </div>
  <app-falcon-footer></app-falcon-footer>
</div>
