.falconApp {
  width: 100%;
  overflow-x: auto;
  display: grid;
  grid-template-columns: fr;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas:
    'header'
    'body'
    'footer';
  app-falcon-header {
    grid-area: header;
    background-color: white;
  }

  .appFalconBody {
    grid-area: body;
    height: 100%;
    overflow-y: auto;
    .errorMsg {
      margin: 10px auto;
      text-align: center;
      color: red;
    }
  }

  app-falcon-footer {
    grid-area: footer;
  }
}
