.falconApp {
  width: 100%;
  app-falcon-header {
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
  }

  app-finder-board {
    height: 100%;
  }
  .appFalconBody {
    margin-top: 100px;
    height: 100%;

    .errorMsg {
      margin: 10px auto;
      text-align: center;
      color: red;
    }
  }

  app-falcon-footer {
    height: 40px;
  }
}
